openapi: 3.0.1
info:
  termsOfService: https://notifichedigitali.pagopa.it/radd/index.html
  title: 'Piattaforma Notifiche: API B2B per gli operatori RADD'
  x-summary: 'Piattaforma Notifiche: API B2B per gli operatori RADD'
  version: '1.0.0'
  contact:
    email: pn-supporto-radd@pagopa.it
  license:
    name: Licenza di PN
    url: 'https://notifichedigitali.pagopa.it/radd/index.html'
  description: >-
    #Abstract
    API per la gestione delle richieste di censimento e modifica dei punti di ritiro SEND da parte
    degli operatori RADD.

    Le API permettono di:
    - richiedere l'attivazione di un nuovo punto di ritiro SEND
    - modificare un punto di ritiro SEND
    - cancellare un punto di ritiro SEND
    - recuperare la lista di punti di ritiro SEND attivi
    

servers:
  - url: https://api.radd.notifichedigitali.it
    description: Ambiente di produzione
  - url: https://api.radd.uat.notifichedigitali.it
    description: Ambiente di collaudo UAT

tags:
  - name: Registry

paths:
  /radd-net/api/v1/registry:
    post:
      tags:
        - Registry
      description: >-
        API utilizzata per la richiesta di attivazione nuova anagrafica RADD
      operationId: addRegistry
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'         # NO EXTERNAL
        - $ref: '#/components/parameters/uid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRegistryRequest'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRegistryResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '405':
          description: Not Allowed
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
    get:
      tags:
        - Registry
      operationId: retrieveRegistries
      description: API utilizzata per recuperare la lista paginata di anagrafiche RADD dato il cxId
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'         # NO EXTERNAL
        - $ref: '#/components/parameters/uid'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/lastKey'
        - $ref: '#/components/parameters/cap'
        - $ref: '#/components/parameters/city'
        - $ref: '#/components/parameters/pr'
        - $ref: '#/components/parameters/externalCode'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistriesResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '405':
          description: Not Allowed
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
  /radd-net/api/v1/registry/{registryId}:
    patch:
      tags:
        - Registry
      description: >-
        API utilizzata per la modifica di un'anagrafica RADD
      operationId: updateRegistry
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'         # NO EXTERNAL
        - $ref: '#/components/parameters/uid'
        - $ref: '#/components/parameters/registryId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRegistryRequest'
        required: true
      responses:
        204:
          description: OK
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: Not found - Punto di ritiro SEND non trovato
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '405':
          description: Not Allowed
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
  /radd-net/api/v1/registry/{registryId}/dismiss:
    patch:
      tags:
        - Registry
      description: >-
        API utilizzata per la cancellazione di un'anagrafica RADD
      operationId: deleteRegistry
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'         # NO EXTERNAL
        - $ref: '#/components/parameters/uid'
        - $ref: '#/components/parameters/registryId'
        - $ref: '#/components/parameters/endDate'
      responses:
        204:
          description: OK
        '400':
          description: Bad Request - Data di fine validità non valida, in quanto non rispetta il preavviso di cancellazione
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: Not found - Punto di ritiro SEND non trovato
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '405':
          description: Not Allowed
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
components:
  schemas:
    CreateRegistryRequest:
      type: object
      required:
        - address
      properties:
        address:
          $ref: '#/components/schemas/Address'
        description:
          type: string
          description: Descrizione dello sportello.
          example: Sportello ABC.
        phoneNumber:
          type: string
          description: Numero di telefono dello sportello.
          example: "+39 0123456789"
        geoLocation:
          type: object
          properties:
            latitude:
              type: string
              description: Latitudine della posizione geografica dello sportello.
              example: "41.9028"
            longitude:
              type: string
              description: Longitudine della posizione geografica dello sportello.
              example: "12.4964"
        capacity:
          type: string
          description: Numero massimo di pratiche mensili che il punto di Ritiro SEND può gestire.
          example: 100
        openingTime:
          type: string
          description: Orario di apertura dello sportello.
          example: "mon=10:00-13:00_14:00-20:00;tue=10:00-20:00"
        startValidity:
          type: string
          description: Data e ora di inizio di validità dello sportello, se non inviata viene considerata la data corrente.
          example: "2024-03-21"
        endValidity:
          type: string
          description: Data e ora di fine di validità dello sportello.
          example: "2024-03-21"
        externalCode:
          type: string
          description: Identificativo punto ritiro SEND
        
    UpdateRegistryRequest:
      type: object
      properties:
        description:
          type: string
          description: Descrizione aggiornata dello sportello.
          example: "Registro aggiornato dello sportello."
        openingTime:
          type: string
          description: Orario di apertura aggiornato dello sportello.
          example: "mon=10:00-13:00_14:00-20:00;tue=10:00-20:00"
        phoneNumber:
          type: string
          description: Numero di telefono della sede
          example: "+39 0123456789"
    CreateRegistryResponse:
      type: object
      properties:
        requestId:
          type: string
    RegistriesResponse:
      type: object
      properties:
        registries:
          type: array
          items:
            $ref: '#/components/schemas/Registry'
        moreResult:
          description: Indica se sono presenti ulteriori pagine di risultati
          type: boolean
        nextPagesKey:
          description: >-
            Elenco, non esaustivo, delle chiavi da usare per richiedere le 
            pagine di risultati successive a quella corrente. <br/>
            Valorizzato solo se il campo __moreResult__ ha valore __true__.
          type: array
          items:
            type: string
            
    Registry:
      type: object
      properties:
        registryId:
          type: string
          description: identificativo univoco della sede RADD popolato solo in caso di record in stato ACCEPTED
        requestId:
          type: string
          description: ID della richiesta di import.
          example: "987654"
        address:
          $ref: '#/components/schemas/Address'
        description:
          type: string
          description: Descrizione dello sportello.
          example: Sportello ABC.
        phoneNumber:
          type: string
          description: Numero di telefono dello sportello.
          example: "+39 0123456789"
        geoLocation:
          type: object
          properties:
            latitude:
              type: string
              description: Latitudine della posizione geografica dello sportello.
              example: "41.9028"
            longitude:
              type: string
              description: Longitudine della posizione geografica dello sportello.
              example: "12.4964"
        openingTime:
          type: string
          description: Orario di apertura dello sportello.
          example: "09:00-13:30"
        startValidity:
          type: string
          format: date-time
          description: Data e ora di inizio di validità dello sportello.
          example: "2024-03-21T09:00:00Z"
        endValidity:
          type: string
          format: date-time
          description: Data e ora di fine di validità dello sportello.
          example: "2024-03-21T17:00:00Z"
        externalCode:
          type: string
          description: Identificativo punto ritiro SEND
          example: "123456"
        capacity:
          description: Numero massimo di pratiche mensili che il punto di Ritiro SEND può gestire.
          example: 100
    VerifyRequestResponse:
      type: object
      properties:
        status:
          type: string
          description: Stato della richiesta
          example: REJECTED
        error:
          type: string
          description: Eventuale errore, popolato solo in caso di status = REJECTED.
          example: "csv malformato"
    RequestResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/RegistryRequestResponse'
        moreResult:
          description: Indica se sono presenti ulteriori pagine di risultati
          type: boolean
        nextPagesKey:
          description: >-
            Elenco, non esaustivo, delle chiavi da usare per richiedere le 
            pagine di risultati successive a quella corrente. <br/>
            Valorizzato solo se il campo __moreResult__ ha valore __true__.
          type: array
          items:
            type: string
    RegistryRequestResponse:
      type: object
      properties:
        requestId:
          type: string
          description: identificativo univoco della richiesta
        registryId:
          type: string
          description: identificativo univoco della singola richiesta di censimento sportello
        originalRequest:
          $ref: '#/components/schemas/OriginalRequest'
        address:
          $ref: '#/components/schemas/Address'
        createdAt:
          type: string
          description: data creazione del record
        updatedAt:
          type: string
          description: data aggiornamento del record
        status:
          type: string
          description: stato della richiesta
          example: ACCEPTED
        error:
          type: string
          description: eventuale motivazione di scarto, popolato solo in caso di stato REJECTED
    OriginalRequest:
      type: object
      properties:
        originalAddress:
          $ref: '#/components/schemas/Address'
        description:
          type: string
          description: Descrizione dello sportello.
          example: Sportello ABC.
        externalCode:
          type: string
          description: Identificativo punto ritiro SEND
          example: "123456"
        phoneNumber:
          type: string
          description: Numero di telefono dello sportello.
          example: "+39 0123456789"
        geoLocation:
          type: object
          properties:
            latitude:
              type: string
              description: Latitudine della posizione geografica dello sportello.
              example: "41.9028"
            longitude:
              type: string
              description: Longitudine della posizione geografica dello sportello.
              example: "12.4964"
        openingTime:
          type: string
          description: Orario di apertura dello sportello.
          example: "mon=10:00-13:00_14:00-20:00;tue=10:00-20:00"
        startValidity:
          type: string
          format: date-time
          description: Data e ora di inizio di validità dello sportello.
          example: "2024-03-21T09:00:00Z"
        endValidity:
          type: string
          format: date-time
          description: Data e ora di fine di validità dello sportello.
          example: "2024-03-21T17:00:00Z"    
    Address:
      type: object
      required:
        - addressRow
        - cap
        - city
        - pr
      properties:
        addressRow:
          type: string
          description: Indirizzo completo
          example: Via Roma 123
        cap:
          type: string
          description: CAP (Codice di Avviamento Postale).
          example: 00100
        city:
          type: string
          description: Città.
          example: Roma
        pr:
          type: string
          description: Provincia.
          example: RM
        country:
          type: string
          description: Paese.
          example: Italia
  parameters:
    status:
      name: status
      description: Identificativo dello sportello RADD
      in: query
      schema:
        type: string
        enum:
          - ACTIVE
          - REJECTED
          - PENDING
    registryId:
      name: registryId
      description: Identificativo dello sportello RADD
      in: path
      required: true
      schema:
        type: string
      example: cxId#uuid
    endDate:
      name: endDate
      description: Data fine validità sportello
      in: query
      required: true
      schema:
        type: string
      example: 2024-06-21
    uid:
      name: uid
      description: Identificativo pseudo-anonimizzato dell'operatore RADD
      in: header
      required: true
      schema:
        type: string
    requestId:
      name: requestId
      description: Identificativo univoco della richiesta di censimento (CSV o CRUD)
      in: header
      required: true
      schema:
        type: string
    limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 10
    lastKey:
      name: lastKey
      in: query
      required: false
      schema:
        type: string
    cap:
      name: cap
      description: CAP
      in: query
      required: false
      schema:
        type: string
    city:
      name: city
      description: Città
      in: query
      required: false
      schema:
        type: string
    pr:
      name: pr
      description: Provincia
      in: query
      required: false
      schema:
        type: string
    externalCode:
      name: externalCode
      description: Identificativo punto ritiro SEND indicato dal client
      in: query
      required: false
      schema:
        type: string

  responses:
    Forbidden:
      description: Forbidden
    NotFound:
      description: Not found
    Invalid:
      description: Bad Request
    NotAllowed:
      description: Method not allowed
    InternalError:
      description: Internal Server Error
    Unauthorized:
      description: Unauthorized

#  securitySchemes: # ONLY EXTERNAL
#    bearerAuth: # ONLY EXTERNAL
#      type: http          # ONLY EXTERNAL
#      scheme: bearer      # ONLY EXTERNAL
#      bearerFormat: JWT   # ONLY EXTERNAL
#
#security: # ONLY EXTERNAL
#  - bearerAuth: [ ]     # ONLY EXTERNAL
