openapi: 3.0.3
info:
  title: OpenAPI servizi ad uso solo interno
  description: >- 
    API accessibili solo da microservizi interni
  version: v1.0
  contact:
    email: pn@pagopa.it
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
servers:
- url: http://internal-pn-in-appli-em20o634urpg-965454854.eu-central-1.elb.amazonaws.com:8080 #TODO Valorizzare correttamente url api private\
  description: Generated server url
paths:

  '/delivery-push-private/{iun}/history':
    get:
      summary: Storico eventi notifica
      description: >-
        Legge e restituisce la timeline di una notifica, il suo stato e la storia dei 
        suoi cambiamenti di stato.
        <br/>
        L'unico valore ammesso per il parametro _x-pagopa-pn-cx-type_ è `PA`
      tags:
        - TimelineAndStatus
      operationId: getNotificationHistory
      parameters:
        - $ref: '#/components/parameters/pathIun'
        - $ref: '#/components/parameters/pathNumberOfRecipients'
        - $ref: '#/components/parameters/pathCreatedAt'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationHistoryResponse"
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'schemas-pn-errors-v1.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'schemas-pn-errors-v1.yaml#/components/schemas/Problem'
    
  '/delivery-push-private/{iun}/viewed':
    post:
      summary: Notifica che un destinatario ha preso visione di una notifica
      description: >-
        Metodo utilizzato da microservizi interni per notificare che un destinatario
        ha preso visione di una notifica-
      tags:
        - EventComunication
      operationId: notifyNotificationViewed
      parameters:
        - $ref: '#/components/parameters/pathIun'
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestNotificationViewedDto"
        required: true
      responses:
        '200':
          description: |
            OK. Allo stato attuale il contenuto della risposta non ha valore informativo 
            basta il fatto che lo status sia 200 per indicare che l'operazione è andata 
            a buon fine.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseNotificationViewedDto"
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'schemas-pn-errors-v1.yaml#/components/schemas/Problem'
        '404':
          description: IUN or recipient not found
          content:
            application/problem+json:
              schema:
                $ref: 'schemas-pn-errors-v1.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'schemas-pn-errors-v1.yaml#/components/schemas/Problem'
      


components:
  parameters:

    ############################################################################################
    ###                        PARAMETRI RICERCA NOTIFICA ACCETTATA                         ###
    ############################################################################################
    pathIun:
      description: >-
        Identificativo Univoco Notifica
      name: iun
      in: path
      required: true
      schema:
        type: string
        
    pathNumberOfRecipients:
      description: >-
        Numero recipient notifica
      name: numberOfRecipients
      in: query
      required: true
      schema:
        type: integer

    pathCreatedAt:
      description: >-
        Data creazione notifica
      name: createdAt
      in: query
      required: true
      schema:
        type: string
        format: date-time
  schemas:

    ############################################################################################
    ###                        INFORMAZIONI STORICHE DI UNA NOTIFICA                         ###
    ############################################################################################

    NotificationHistoryResponse:
      type: object
      properties:
        notificationStatus:
          $ref: './schemas-pn-status-v1.yaml#/components/schemas/NotificationStatus'
        notificationStatusHistory:
          $ref: './schemas-pn-status-v1.yaml#/components/schemas/NotificationStatusHistory'
        timeline:
          description: >-
            elenco dettagliato di tutto ciò che è accaduto durante il processo di notifica
          type: array
          items:
            $ref: './schemas-pn-timeline-v1.yaml#/components/schemas/TimelineElement'
    

    ############################################################################################
    ###                 COMUNICAZIONE DELLA VISUALIZZAZIONE DI UNA NOTIFICA                  ###
    ############################################################################################

    RequestNotificationViewedDto:
      type: object
      required:
        - iun
        - recipientType
        - recipientInternalId
        - raddType
        - raddBusinessTransactionId
        - raddBusinessTransactionClosingDate
      properties:
        iun:
          type: string
          description: Identificativo Univoco della Notifica
        recipientType:
          type: string
          description: |
            tipo del destinatario <br/>
            __PF__: Persona Fisica <br/>
            __PG__: Persona Giuridica <br/>
        recipientInternalId:
          type: string
          description: identificativo anonimizzato del destinatario
        raddType:
          type: string
          description: |
            tipo di Rete Anti Digital Divide <br/>
            __FSU__: Fornitore Servizio Universale <br/>
        raddBusinessTransactionId:
          type: string
          description: Identificativo della pratica all'interno della rete RADD
        raddBusinessTransactionDate:
          type: string
          format: date
          description: Data in cui è stata eseguita la transazione

    ResponseNotificationViewedDto:
      type: object
      required:
        - iun
      properties:
        iun:
          type: string
          description: Identificativo Univoco della Notifica





